<h3><%= ride.title %></h3>

<ul>
  <li>Date: <%= ride.date %></li>
  <li>Distance: <%= ride.distance %></li>
  <li>Duration: <%= ride.duration %></li>
  <li>Location: <%= ride.location %></li>
  <li>Intensity: <%= ride.intensity %></li>
  <li>Drop? <%= ride.drop %></li>
  <li>Number of Riders: <%= ride.number_of_riders %></li>
  <li>Elevation gain: <%= ride.elevation_gain %></li>
  <li>Description: <%= ride.description %></li>
  <li>Organizer: <%= ride.owner.name %></li>
</ul>
