<!DOCTYPE html>
<html>
  <head>
    <title>GroupRide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  </head>

  <body>
    <header>
      <h2><%= link_to("GroupRide", root_path, {class: "title"}) %></h2>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <div>
      <% if current_user %>
        <p>Hello, <%= current_user.name %>!</p>

        <%= link_to 'Logout', sessions_path, method: :delete %>
        |
        <%= link_to 'New Ride', new_ride_path %>
        |
        <%= link_to 'My Profile', user_path(current_user) %>

      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        |
        <%= link_to 'Login', new_sessions_path %>
      <% end %>
    </div>

    <div class="search-bar">
      <%= form_tag(rides_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :ride, params[:ride], placeholder: "Search for a ride!", id:"ride-search" %>
        <%= submit_tag "Find ride" %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
