<!DOCTYPE html>
<html>
  <head>
    <title>Ride App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2><%= link_to("Ride App", root_path, {class: "title"}) %></h2>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <div>
      <% if current_user %>
        <p>Hello, <%= current_user.name %>!</p>

        <%= link_to 'Logout', sessions_path, method: :delete %>
        |
        <%= link_to 'New Ride', new_ride_path %>
        |
        <%= link_to 'My Profile', user_path(current_user) %>

      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        |
        <%= link_to 'Login', new_sessions_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
